@*
    Para obtener más información sobre cómo habilitar MVC para proyectos vacíos, visite 
    https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "DetalleDePedido - Index";
}
@section Styles {
    <link href="~/views/detalleDePedido/index.css" rel="stylesheet" />
}

<form id="DetalleDePedidoIndexFrm">
    <!-- Buscar Detalle de Pedido -->
    <label for="PedidoIdTxt">ID Pedido</label>
    <input id="PedidoIdTxt" type="text" autocomplete="off" />

    <label for="ProductoIdTxt">ID Producto</label>
    <input id="ProductoIdTxt" type="text" autocomplete="off" />

    <button id="BuscarBtn" type="button">Buscar</button>
    <br />

    <!-- Resultados de la búsqueda -->
    <div id="DetalleDePedidoResult"></div>
    <br><br>

    <!-- Eliminar Detalle de Pedido -->
    <label for="EliminarPedidoIdTxt">ID Pedido</label>
    <input id="EliminarPedidoIdTxt" type="text" autocomplete="off" />

    <label for="EliminarProductoIdTxt">ID Producto</label>
    <input id="EliminarProductoIdTxt" type="text" autocomplete="off" />

    <button id="EliminarBtn" type="button">Eliminar</button>
</form>

@section Scripts {
    <script src="~/views/detalleDePedido/index.js"></script>
}