@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "ContactoProveedor - Index";
}
@section Styles {
    <link href="~/views/contactoProveedor/index.css" rel="stylesheet" />
}
<form id="ContactoProveedorIndexFrm">
    <!-- Buscar Contacto -->
    <label for="ContactoProveedorBuscarTxt">Buscar Contacto</label>
    <input id="ContactoProveedorBuscarTxt" type="text" autocomplete="off" />
    <button id="BuscarBtn" type="button">Buscar</button>
    <br />

    <!-- Resultados de la búsqueda -->
    <div id="ContactoProveedorResult"></div>
    <br><br>

    <!-- Eliminar Contacto -->
    <label for="ContactoProveedorIdTxt">ID Contacto Proveedor</label>
    <input id="ContactoProveedorIdTxt" type="text" autocomplete="off" />
    <button id="EliminarBtn" type="button">Eliminar</button>
</form>
@section Scripts {
    <script src="~/views/contactoProveedor/index.js"></script>
}

