@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Empleado - Index";
}
@section Styles {
    <link href="~/views/empleado/index.css" rel="stylesheet" />
}

<form id="EmpleadoIndexFrm">
    <label for="EmpleadoIdTxt">ID Empleado</label>
    <input id="EmpleadoIdTxt" type="text" autocomplete="off" />

    <label for="NombresTxt">Nombres</label>
    <input id="NombresTxt" type="text" autocomplete="off" />

    <button id="BuscarBtn" type="button">Buscar</button>
    <br />

    <div id="EmpleadoResult"></div>
    <br><br>

    <label for="EliminarEmpleadoIdTxt">ID Empleado</label>
    <input id="EliminarEmpleadoIdTxt" type="text" autocomplete="off" />

    <button id="EliminarBtn" type="button">Eliminar</button>
</form>

@section Scripts {
    <script src="~/views/empleado/index.js"></script>
}