@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Pedido - Index";
}
@section Styles {
    <link href="~/views/pedido/index.css" rel="stylesheet" />
}

<form id="PedidoIndexFrm">
    <label for="PedidoIdTxt">Pedido ID</label>
    <input id="PedidoIdTxt" type="number" autocomplete="off" />

    <label for="ClienteIdTxt">Cliente ID</label>
    <input id="ClienteIdTxt" type="text" autocomplete="off" />

    <label for="FechaPedidoTxt">Fecha Pedido</label>
    <input id="FechaPedidoTxt" type="date" />

    <button id="BuscarBtn" type="button">Buscar</button>
    <br />

    <div id="PedidoResult"></div>
    <br><br>

    <label for="EliminarPedidoIdTxt">Pedido ID</label>
    <input id="EliminarPedidoIdTxt" type="number" autocomplete="off" />

    <button id="EliminarBtn" type="button">Eliminar</button>
</form>

@section Scripts {
    <script src="~/views/pedido/index.js"></script>
}