@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Pedido - Index";
}
@section Styles {
    <link href="~/views/pedido/index.css" rel="stylesheet" />
}
<form id="EditarFrm">
    <button id="GuardarBtn" type="button">Guardar</button>

</form>
@section Scripts {
    <script src="~/views/pedido/index.js"></script>
}

