@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Cliente - Index";
}
@section Styles {
    <link href="~/views/cliente/index.css" rel="stylesheet" />
}

<form id="ClienteIndexFrm">
</form>

@section Scripts {
    <script src="~/views/cliente/index.js"></script>
}
