@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Cliente - Nuevo";
}
@section Styles {
    <link href="~/views/cliente/nuevo.css" rel="stylesheet" />
}

<form id="ClienteNuevoFrm">
    <!-- Botón para guardar -->
    <button id="GuardarBtn" type="button">Guardar</button>
    <br /><br />

    <!-- Campos del formulario -->
    <label for="NombreRazonSocialTxt">Nombre / Razón Social</label>
    <input id="NombreRazonSocialTxt" type="text" autocomplete="off" />
    <br />

    <label for="TipoDocumentoTxt">Tipo de Documento</label>
    <input id="TipoDocumentoTxt" type="text" autocomplete="off" />
    <br />

    <label for="NroDocumentoTxt">Número de Documento</label>
    <input id="NroDocumentoTxt" type="text" autocomplete="off" />
    <br />

    <label for="ContactoTxt">Contacto ID</label>
    <input id="ContactoTxt" type="number" autocomplete="off" />
    <br />

    <label for="DireccionTxt">Dirección</label>
    <input id="DireccionTxt" type="text" autocomplete="off" />
    <br />

    <label for="CiudadTxt">Ciudad</label>
    <input id="CiudadTxt" type="text" autocomplete="off" />
    <br />

    <label for="RegionTxt">Región</label>
    <input id="RegionTxt" type="text" autocomplete="off" />
    <br />

    <label for="CodPostalTxt">Código Postal</label>
    <input id="CodPostalTxt" type="text" autocomplete="off" />
    <br />

    <label for="PaisTxt">País</label>
    <input id="PaisTxt" type="text" autocomplete="off" />
    <br />

    <label for="TelefonoTxt">Teléfono</label>
    <input id="TelefonoTxt" type="text" autocomplete="off" />
    <br />

    <label for="FaxTxt">Fax</label>
    <input id="FaxTxt" type="text" autocomplete="off" />
    <br />
</form>

@section Scripts {
    <script src="~/views/cliente/nuevo.js"></script>
}
