@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "CompaniaDeEnvio - Index";
}
@section Styles {
    <link href="~/views/companiaDeEnvio/index.css" rel="stylesheet" />
}
<form id="CompaniaDeEnvioIndexFrm">
    <!-- Buscar Compañía -->
    <label for="CompaniaDeEnvioBuscarTxt">Buscar Compañía de Envío</label>
    <input id="CompaniaDeEnvioBuscarTxt" type="text" autocomplete="off" />
    <button id="BuscarBtn" type="button">Buscar</button>
    <br />

    <!-- Resultados de la búsqueda -->
    <div id="CompaniaDeEnvioResult"></div>
    <br><br>

    <!-- Eliminar una Compañía -->
    <label for="CompaniaDeEnvioIdTxt">ID Compañía</label>
    <input id="CompaniaDeEnvioIdTxt" type="text" autocomplete="off" />
    <button id="EliminarBtn" type="button">Eliminar</button>
</form>
@section Scripts {
    <script src="~/views/companiaDeEnvioe/index.js"></script>
}