@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "CompaniaDeEnvio- Nuevo";
}
@section Styles {
    <link href="~/views/companiaDeEnvio/nuevo.css" rel="stylesheet" />
}
<form id="CompaniaDeEnvioNuevoFrm">
    <!-- Botón para guardar -->
    <button id="GuardarBtn" type="button">Guardar</button>
    <br /><br />

    <!-- Campos del formulario -->
    <label for="NombreCompañiaTxt">Nombre de la Compañía</label>
    <input id="NombreCompañiaTxt" type="text" autocomplete="off" />
    <br />

    <label for="RucTxt">RUC</label>
    <input id="RucTxt" type="text" autocomplete="off" />
    <br />

    <label for="TelefonoTxt">Teléfono</label>
    <input id="TelefonoTxt" type="text" autocomplete="off" />
    <br />
</form>
@section Scripts {
    <script src="~/views/companiaDeEnvio/nuevo.js"></script>
}