@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Categoría - Index";
}
@section Styles {
    <link href="~/views/categoria/index.css" rel="stylesheet" />
}

<form id="CategoriaIndexFrm">
</form>

@section Scripts {
    <script src="~/views/categoria/index.js"></script>
}
