@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Categoría - Index";
}
@section Styles {
    <link href="~/views/categoria/index.css" rel="stylesheet" />
}

<form id="CategoriaIndexFrm">
    <!-- Buscador de categorías -->
    <label for="CategoriaBuscarTxt">Buscar Categoría</label>
    <input id="CategoriaBuscarTxt" type="text" autocomplete="off" />
    <button id="BuscarBtn" type="button">Buscar</button>
    <br />
    <div id="CategoriaResult"></div>

    <br><br><br>
    <!-- Eliminación de una categoría por ID -->
    <label for="CategoriaIdTxt">Categoría</label>
    <input id="CategoriaIdTxt" type="text" autocomplete="off" />
    <button id="EliminarBtn" type="button">Eliminar</button>
</form>

@section Scripts {
    <script src="~/views/categoria/index.js"></script>
}
